<mat-toolbar color="bg-white">
  <mat-toolbar-row class="container-fluid">
    <div class="row h-width">
      <div class="col-sm-6 w-5">
        <figure class="mat-width">
          <a routerLink="/login"><img class="w-100 v-align-b" src="./assets/images/login-airtel-logo.png" /></a>
        </figure>
      </div>
      <div class="text-right col-sm-6 w-5">
        <div class="float-right">
          <div class="user-detail text-left" *ngIf="userInformation">
            <small class="line-height-2 p-r-10 d-block fs-15"> {{'welcome' | translate}}
              {{ userInformation.firstName }}</small>
            <small class="line-height-2 d-block fs-12">{{ userInformation.username }}</small>
          </div>
          <i class="common-color material-icons cursor-pointer" (click)="logout()">power_settings_new</i>
          <!-- <div class="col-sm-6 w-26"></div> -->
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>