<ng-container *ngIf="hideInCocoCase; then hideBusiness else showBusiness"></ng-container>
<ng-template #showBusiness>

  <form [formGroup]="dynamicForm" class="agent-form" novalidate [@slideInOut]>
    <ng-container *ngFor="let controls of fields">
      <div class="formFields details-page" *ngIf="controls.type == 'input' && controls.value != ''">
        <div class="form-group toggleIcon">
          <label class="d-pages-label" [for]="controls.label">{{controls.label}}</label>
          <input [type]="controls.inputType" 
            [ngClass]="{ 'highlightStyle': controls.highlight }" 
            [readonly]="true"
            class="form-control kyc-details-page" [value]="controls.value" [placeholder]="controls.placeHolder">
          <div *ngFor="let particularReason of rejResionRes">
            <div *ngIf="particularReason.field == controls.label">
              <i mat-button [matMenuTriggerFor]="reasonPopup" matTooltip="{{reasonTxt}}" class="material-icons IconImg"
                (click)="toggleIconHandler(controls, particularReason)">post_add</i>
            </div>
          </div>
        </div>
      </div>
      <div class="formFields details-page" *ngIf="controls.type !== 'input' && controls.value != ''">
        <div class="w-80" *ngIf="controls.type == 'radio'">
          <label class="d-pages-label">{{controls.label}}</label>
          <mat-radio-group aria-label="Select an option" [ngClass]="{'highlightStyle': controls.highlight}">
            <mat-radio-button disabled class="checkName" *ngFor="let radio of controls.options" [checked]="radio.status"
              [value]="radio.checkname">{{radio.checkname}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="w-80" *ngIf="controls.type == 'checkbox'">
          <label class="d-pages-label">{{controls.label}}</label>
          <section class="example-section" [ngClass]="{'highlightStyle': controls.highlight}">
            <mat-checkbox disabled *ngFor="let check of controls.options" [checked]="check.status" class="checkName">
              {{check.checkname}}
            </mat-checkbox>
          </section>
        </div>
      </div>
      <div class="formFields details-page" *ngIf="controls.type === 'image' && controls.inputType !== 'pdf'">
        <div class="userId toggleIcon" [ngClass]="{'highlightStyle': controls.highlight}">
          <label class="d-pages-label">{{controls.placeHolder}}</label>
          <ng-container *ngFor="let particularReason of rejResionRes">
            <div *ngIf="particularReason.field == controls.label">
              <i mat-button [matMenuTriggerFor]="reasonPopup" matTooltip="{{reasonTxt}}"
                class="lableColor material-icons IconImg"
                (click)="toggleIconHandler(controls, particularReason)">post_add</i>
            </div>
          </ng-container>
          <div class="d-i-block w-100" *ngIf="controls.inputType !== 'pdf'">
            <img *ngIf="controls.imagePath" class="w-100 mr-t-10 form-control cursor-pointer imgHeight"
              (click)="zoomImageInModel(controls)" [src]="controls.imagePath" alt="show" />
          </div>
        </div>
      </div>
      <div class="formFields details-page" *ngIf="controls.type === 'slider'">
        <div class="userId toggleIcon" [ngClass]="{'highlightStyle': controls.highlight}">
          <label class="d-pages-label">{{controls.placeHolder}}</label>
          <ng-container *ngFor="let particularReason of rejResionRes">
            <div *ngIf="particularReason.field == controls.label">
              <i mat-button [matMenuTriggerFor]="reasonPopup" matTooltip="{{reasonTxt}}"
                class="lableColor material-icons IconImg"
                (click)="toggleIconHandler(controls, particularReason)">post_add</i>
            </div>
          </ng-container>
          <div *ngIf="controls.imageDataUrls" [ngClass]="{'imgSliderPopup': isActive(controls.label)}">
            <span class="close slider" (click)="closeSliderModel()">&times;</span>
            <div class="imgSlider w-100" (click)="zoomSliderInModel(controls.label)">
              <slideshow [imageUrls]="controls.imageDataUrls" [autoPlay]="false" [showArrows]="true"
                [minHeight]="'200px'">
              </slideshow>
            </div>
          </div>
        </div>
      </div>
      <div class="formFields details-page" *ngIf="controls.type === 'singlepdf'">
        <div class="userId toggleIcon">
          <label class="d-pages-label">{{controls.placeHolder}}</label>
          <ng-container *ngFor="let particularReason of rejResionRes">
            <div *ngIf="particularReason.field == controls.label">
              <i mat-button [matMenuTriggerFor]="reasonPopup" matTooltip="{{reasonTxt}}"
                class="lableColor material-icons IconImg"
                (click)="toggleIconHandler(controls, particularReason)">post_add</i>
            </div>
          </ng-container>
          <div class="d-i-block w-100" *ngIf="controls.imagePath">
            <iframe *ngIf="controls.imagePath" [src]="controls.imagePath"></iframe>
            <a [ngClass]="{'highlightStyle': controls.highlight}" class="pdfIframe" [href]="controls.imagePath"
              download>Download pdf</a>
          </div>
        </div>
      </div>
      <div class="formFields details-page">
        <mat-menu #reasonPopup="matMenu" class="matmenuStyle">
          <div class="reasonCheck">
            <h6>{{curLabelTxt}}</h6>
            <section class="">
              <div *ngFor="let particularReason of rejResionRes">
                <div *ngIf="particularReason.field == controls.label">
                  <div *ngFor="let reason of particularReason.rejectionReasons">
                    <mat-checkbox class="d-block" (click)="$event.stopPropagation()"
                      (change)="onChangeHandler(reason.id, $event, particularReason)">{{reason.reason}}
                    </mat-checkbox>
                  </div>
                  <div class="remark" *ngIf="remarks">
                    <!-- <p class="fs-14">Remarks:</p> -->
                    <textarea class="remtext" rows="9" cols="50" (click)="$event.stopPropagation()"
                      [id]="particularReason.id" (change)="remarkOnChange($event, particularReason)"
                      maxlength="100"></textarea>
                    <span class="remarkColor" *ngIf="showRemarkError">{{ 'remark' | translate }}</span>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <button class="closeBtn" mat-raised-button>{{ 'ok' | translate }}</button>
        </mat-menu>
      </div>
    </ng-container>
    <div class="pdfSec w-100">
      <div class="position-relative">
        <div id="canvasArea"></div>
      </div>
    </div>
    <div class="align-right case-action">
      <button class="cm_btn" (click)="back()">{{ 'home' | translate }}</button>
      <ng-container *ngIf="checkActionPermission()">
        <div matTooltip="{{ tooltipMsg }}" class="d-i-block" *ngIf="acceptBtn">
          <button [disabled]="acceptBoolean" class="cm_btn approve"
            (click)="userActionHandler('approved')">{{ 'approve' | translate }}</button>
        </div>
        <div matTooltip="{{ tooltipMsg }}" class="d-i-block">
          <button [disabled]="rejectBoolean" class="cm_btn reject"
            (click)="userRejectActionHandler('rejected')">{{ 'reject' | translate }}</button>
        </div>
      </ng-container>
    </div>
  </form>
  <!-- The Modal -->
  <div id="myModal" class="modal" *ngIf="visibleModel">
    <span class="close" (click)="closeModel()">&times;</span>
    <img class="modal-content" [src]="imageURL">
  </div>
</ng-template>
<ng-template #hideBusiness>
  <div class="centerOutlet">
    <h4 class="emptyOutlet">
      <span class="material-icons errorOutlet"> error_outline </span>{{ 'noBusiness' | translate }}</h4>
    <a class="backOutet" (click)="back()">{{ 'goBack' | translate }}</a>
  </div>
</ng-template>