$tondoReg: Tondo-regular;
$whiteColor: #ffffff;
$numSize: 41px;
$coommonFontColor: #4B566A !important;

%kit-shadow {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.42);
}
%commonColorFamily {
    font-family: $tondoReg;
    color: $coommonFontColor;
}

.sales-card {
    cursor: pointer;
    height: 268px;
    width: 268px;
    position: relative;
    padding: 16px 0;
  }
 .card-img{
     height: 62px;
     width: 62px;
     margin: 30px 0 5px; 
 } 
 .sub-heading {
    font-size: 23px;
    font-family: $tondoReg;
    line-height: 1;
    color: #4B566A !important;
}
.card-heading {
    font-size: 24px;
    font-family: $tondoReg;
    color: #4B566A;
    padding: 0 0 16px 0;
}
.ht-wt-file{
    padding:0;
    background: #4B566A;
    height: 38px;
    width: 164px;
    color: #ffffff !important;
    line-height: 2.5;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}
.card-heading.num{
    font-size: $numSize;
    line-height: 1;
    display: block;
}
.sub-heading{
    padding:5px 0 12px;
    // min-height: 65px;
}
.s-card{
    position: absolute;
    bottom: 20px;
    left: 19%;
}
@media screen and (max-width: 767px) {
    .sales-card {
        margin: 0 auto;
        width: 80%;
        height: auto;
    }
    .sub-heading {
        font-size: 20px;
    }
    .card-heading.num {
        font-size: 30px;
    }
}