.fs-120{
    font-size: 60px;
}
.line-height-1{
line-height: 1;
}
#singleFile{
    width: 98px;
}
.ht-wt-file{
    padding:0;
    background: #4B566A;
    height: 38px;
    width: 164px;
    color: #ffffff !important;
    line-height: 2.5;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}