<!-- <div *ngIf="pieChartInformation" class="graph-chart" style="display: block;">
  <canvas baseChart  id="graphCanvasId"
    [data]="chartData"
    [colors]="chartColors"
    [legend]="true"
    [labels]="chartLabels"
    [options]="chartOptions"
    [plugins]="doughnutChartPlugins"
    [chartType]="chartType">
  </canvas>
</div> -->
<!-- https://stackblitz.com/edit/ng2-charts-pie-template -->
<!-- https://stackblitz.com/edit/ng2-charts-line-template -->
<!-- https://github.com/valor-software/ng2-charts -->