<div class="">

</div>
<search></search>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8 mapping">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element[column] === 'img'">
          <img class="cp-user-pic" src='./assets/fonts/svg/channel-partners.svg'>
      </div> 
      <div *ngIf="element[column] !== 'img'">
        <div class="mat-title-cell">{{column}}</div>
         <div>{{element[column]}}</div>  
      </div>      
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="cp-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="cp-element-diagram w-100">
          <div>
              <h2 class="common-color agent-title">Agents list under Aggregator
                  <i class="material-icons">arrow_downward </i>
              </h2>
          </div>
          <div class="w-100">
              <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="mat-title-cell">Shop Name</th>
                            <th class="mat-title-cell">Type</th>
                            <th class="mat-title-cell">Status</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                  <label class="custom-control-label" for="customCheck1">John’s Shop</label>
                              </div>
                            </td>
                            <td class="mat-title-cell">AEC</td>
                            <td class="mat-title-cell">Active</td>
                            <td>==</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                                  <label class="custom-control-label" for="customCheck2">John’s Shop</label>
                              </div>
                            </td>
                            <td class="mat-title-cell">COCO</td>
                            <td class="mat-title-cell">Dormant</td>
                            <td>==</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                                  <label class="custom-control-label" for="customCheck3">John’s Shop</label>
                              </div>
                            </td>
                            <td class="mat-title-cell">AEC</td>
                            <td class="mat-title-cell">Terminated</td>
                            <td>==</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
          <!-- <div class="cp-element-position"> {{element.image}} </div>
          <div class="cp-element-position"> {{element.aggregator_bvn_no}} </div>
          <div class="cp-element-symbol"> {{element.aggregator_name}} </div>
          <div class="cp-element-name"> {{element.account_no}} </div>
          <div class="cp-element-weight"> {{element.Type}} </div>
          <div class="cp-element-weight"> {{element.actions}} </div> -->
        </div>
        <div class="cp-element-description">
          <!-- {{element.description}}
          <span class="cp-element-description-attribution"> -- Wikipedia </span> -->
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="cp-element-row"
      [class.cp-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
      111
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="cp-detail-row"></tr>
</table>
