<!-- <section class="tabContainer">
  <div class="row p-0 m-0">
    <div class="toggleSlide m-l-0">
      <p class="casesHeading">Total Cases</p>
      <canvas id="monthlyTotalCasePieChart" width="400" height="220"></canvas>
    </div>
    <div class="toggleSlide">
      <p class="casesHeading">Approved Cases</p>
      <canvas id="monthlyApprovedLineChart" width="400" height="220"></canvas>
    </div>
    <div class="toggleSlide m-r-0">
      <p class="casesHeading">Rejected Cases</p>
      <canvas id="monthlyRejectedLineChart" width="400" height="220"></canvas>
    </div>
  </div>
</section> -->