<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


<mat-sidenav-container class="sidenave-container">
  <mat-sidenav #snav mode="over" fixedTopGap="56">
    <div class="dashboard-sidenav overflow-hidden" id="style-3">
      <mat-nav-list>
        <ng-container *ngFor="let item of salesList">
          <ng-container *ngIf="item.visible">            
            <mat-list-item *appCanAccess="[item.permissionGroup]">          
                <a matLine class="color-name text-center sidenav_hover h-120" routerLink="{{item.url}}"
                  routerLinkActive="activeSideNav" (click)="closeAllSidenav()">
                  <span class="mat-icon-class d-block mb-10">
                    <img src="./assets/fonts/svg/{{item.iconName}}">
                  </span>
                  <span class="d-block fs-12 common_gray_color">{{ item.name }}</span>
                </a>          
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


